.env
.devcontainer
.DS_Store
.src/__pycache__
.src/relationship_extractor/__pycache__
.relations_output.csv
.relations_output.txt
src/datasets
src/datasets_part
lightning_logs/
*/*.cache
*.pyc
*.bin
data/
wandb/
